.new-tweet {
  display: block;
  margin: auto;
}

.new-tweet h2 {
  color: #1A568F;
  font-family: 'Bungee', cursive, sans-serif;
}

.new-tweet textarea {
  color:#1A568F;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 5px dashed #545149;
  border-color: #1A568F;
  resize: none;
  background-color: transparent;
  margin-bottom: 10px;
}

.new-tweet input {
  text-align: right;
  font-family: 'Bungee', cursive, sans-serif;
  color:#1A568F;
  background-color: transparent;
  border: 2px solid #1B5890;
  padding: 5px;
  border-radius: 5px;
}

.new-tweet input:hover {
  background-color: blanchedalmond;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);
}

.counter {
  float: right;
  color:#1A568F;
  font-family: 'Bungee', cursive, sans-serif;
}

.red-color {
  color: red;
}